{% extends "app/base.html" %}
{%load static %}

{% block content %}
            <!-- Elenco-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Conheça nosso elenco</h2>
                    <h3 class="section-subheading text-muted">Descubra os personagens e os atores por trás dessa história.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="../static/app/assets/img/team/inicio.png"alt="..." />
                            <h4> Juno Temple</h4>
                            <p class="text-muted">36 Anos <br> Atriz inglesa <br> Ivy</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                            <h4>Tracy Morgan</h4>
                            <p class="text-muted"> Ator e comediante <br> 57 Anos <br> Boogle</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                            <h4>Michael B. Jordan</h4>
                            <p class="text-muted">Ator norte-americano <br> 39 Anos <br> Ollie</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- linha 2 elenco-->

        <section class="page-section bg-light" id="team">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/img"alt="..." />
                            <h4> Ambika Mod</h4>
                            <p class="text-muted">30 Anos <br> Atriz e comediante <br> Violet</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                            <h4>Cedric the Entertainer</h4>
                            <p class="text-muted"> Ator e comediante <br> 62 Anos <br> Caloo</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                            <h4>Justina Machado</h4>
                            <p class="text-muted">Atriz americana <br> 53 Anos <br> Calli</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"> Cada personagem traz consigo emoção, personalidade e <br> momentos inesquecíveis que tornam Como Mágica ainda mais especial. </p></div>
                </div>
            </div>
        </section>
{% endblock %}