{% extends "app/base.html" %}
{%load static %}

{% block content %}
<!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"> Explore cada detalhe deste universo. </div>
                <div class="masthead-heading text-uppercase">Entre e descubra o encanto de Como Mágica!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'visao'%}">Navegar</a>
            </div>
        </header>
{% endblock %}
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
