{% extends "app/base.html" %}
{%load static %}

{% block content %}
<!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"> Explore cada detalhe deste universo. </div>
                <div class="masthead-heading text-uppercase">Entre e descubra o encanto de Como Mágica!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'visao'%}">Navegar</a>
            </div>
        </header>
{% endblock %}