{% extends "app/base.html" %}
{%load static %}

{% block content %}
 <!-- Início-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Visão Geral</h2>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/team/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Produtora</h4>
                                <h4 class="subheading"> Skydance Animation</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">LOperando importantes centros de produção em Santa Monica, Califórnia, e Madri, Espanha (antigamente Ilion Animation Studios), o estúdio é liderado pelo chefe de animação John Lasseter. Atualmente, o estúdio possui um extenso contrato plurianual de produção de filmes com a Netflix.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Lançamento</h4>
                                <h4 class="subheading"> 1 de maio de 2026(mundial)</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"> O filme Como Mágica (título original: Swapped) estreou no Brasil em 1º de maio de 2026 e já está disponível no catálogo da Netflix.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4> Gêneros </h4>
                                <h4 class="subheading"> Animação, Infantil, Aventura, Comédia</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">A combinação de gêneros Animação, Infantil, Aventura e Comédia é perfeita para produções dinâmicas, divertidas e ideais para toda a família. Elas misturam missões empolgantes com personagens carismáticos, visuais coloridos e muito humor leve, agradando desde os pequenos até os adultos</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Diretor</h4>
                                <h4 class="subheading">Nathan Greno</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Nathan Greno é um renomado diretor, roteirista e animador americano, mundialmente famoso por codirigir o clássico da Disney Enrolados (2010).</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                72%
                                <br />
                                gostaram
                                <br />
                                desse filme!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
{% endblock %}